# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Node
node_modules/
dist/

# Flutter
client/build/
client/.dart_tool/
client/.packages
client/.flutter-plugins
client/pubspec.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Environment
.env
